@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

.adminArea{
    background-image:url('../images/AdminBG.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
}

.contentWrapper{
    position:relative;
    width:100%;
    height:100%;
    background-color:#2d2d2d;
    opacity:0.5;
    z-index: 0;
    overflow: hidden;
}

.content1{
    position:relative;
    width:33.3%;
    height:100%;
    display:inline-block;
    opacity:0;
    background-color:black;
    color:#fff;
    z-index: 1;
    text-align: center;
    transition:0.5s ease-in-out
}

.content1.active{
    opacity:1;
}

.content2{
    position:relative;
    width:33.3%;
    height:100%;
    display:inline-block;
    opacity:0;
    background-color:black;
    color:#fff;
    z-index: 1;
    text-align: center;
    transition:0.5s ease-in-out
}

.content2.active{
    opacity:1;
}

.content3{
    position:relative;
    width:33.3%;
    height:100%;
    display:inline-block;
    opacity:0;
    background-color:black;
    color:#fff;
    z-index: 1;
    text-align:center;
    transition:0.5s ease-in-out
}

.content3.active{
    opacity:1;
}

#buttonArea{
    position:relative;
    font-size:2em;
}

.adminMenu{
    width:100%;
    height:100%;
    opacity:0;
    display:none;
}

.adminMenuHR{
    width:90%;
    border-top: 2px solid #878787;
    border-bottom:0px;
}

.adminMenuDiv{
    opacity:0;
    display:none;
    margin-top:5%;
    margin-left:25%;
    width:50%;
    height:80vh;
    background-color:#fff;
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,.2);
}

.adminDBImage{
    position:relative;
    width:40%;
    height:40%;
    padding:5%;
    display:inline-block;
}

.thumbnail{
    position:absolute;
    width:250px;
    height:200px;
    
}

#adminDBImageBtn{
    position:relative;
    top:200px;
}

.adminDBImageText{
    width:40%;
    height:40%;
    padding:5%;
    display:inline-block;
}

.adminDBImageText table{
    border:3px solid #8d8d8d;

}

.adminDBImageText #adminTable #adminTableTR{
    display:block;
    float:left;
    line-height: 25px;
    border-left:1px solid #8d8d8d;

}

.adminDBImageText #adminTable #tr2 #tableName{
    width:85%;
}

.adminDBImageText #adminTable #adminTableTR td{
    display:block;
    margin-left:5px;
    margin-right:10px;
}

.adminPannel{
    width:95%;
    height:40%;
    padding-top:4.4%;
    padding-bottom:4.4%;
    padding-left:5%;
}

.PannelContainer{
    float:right;
    margin-top:8vh;
    margin-right:2.5vw;
}

.initializeBtn{
    width:130px;
    height:40px;
    background-color:#8d8d8d;
    border:none;
    position:relative;
    display:inline-block;
    text-align: center;
    padding-top:10px;
    color:#fff;
    font-size:1.5em;
    font-family: 'Noto Sans KR', sans-serif;
    cursor:pointer;
}

.usersDiv{
    position:relative;
    overflow:scroll;
    width:30%;
    height:100%;
    float:left;
    font-family: 'Noto Sans KR', sans-serif;
}

.usersDiv #listTitle{
    margin:3% 0 3% 12%;
    font-size:2em;
    font-weight:500;
    padding-top:3.5%;
    padding-bottom:3.5%;   
}

.usersDiv #usersList{
    list-style-type: none;

}

.funcDiv{
    position:relative;
    width:60%;
    height:100%;    
    padding:0 5%;
    float:left;
}

.funcDiv .accumDiv, .couponDiv{
    display:block;
    width:100%;
    height:40%;
    margin-bottom:5%;
}

.funcDiv #listTitle{
    margin:3% 0 3% 12%;
    font-size:2em;
    font-weight:500;   
    font-family: 'Noto Sans KR', sans-serif;
}

.funcDiv #adminTable{
    border:3px solid #8d8d8d;
    margin-left:5%;
}

.funcDiv #adminTable #adminTableTR{
    display:block;
    float:left;
    line-height: 25px;
    border-left:1px solid #8d8d8d;

}

.funcDiv #adminTable #tr2 #tableName{
    width:85%;
}

.funcDiv #adminTable #adminTableTR td{
    display:block;
    margin-left:5px;
    margin-right:10px;
}

.backToAdminMenus{
    position:absolute;
    left:78%;
    font-size:2em;
}

.backToAdminMenus #backToText{
    position:relative;
    top:10px;
    left:10px;
    opacity:0;
}