body{
    min-width:1200px;
    font:0.75em Arial,Dotum,AppleGothic,sans-serif;
}

#commerceTitle a{
    text-decoration: none;
    color:#676767;
}

#commerceTitle h1{
    position:fixed;
    font:3em Times New Roman;
    font-weight:bold;
    width:95px;
    height:40px;
    top:20px;
    left:40px;
}

.sideBar{
    position:fixed;
    width:170px;
    height:100%;
    top:130px;
    left:40px;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    background:#fff;
    list-style-type:none;
}

.sideBar a{
    text-decoration: none;
    color:#8d8d8d;
}

.sideBar li{
    line-height: 25px;
}

.sub{
    margin-left:13px;
}

.rowBar{
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
    position:absolute;
    font-size:11px;
    right:10px;
    top:43px;
    display:flex;
    flex-direction:row;
    margin:0;
    padding:0;
    background:#fff;
    list-style-type:none;
}

.rowBar li{
    display:inline-block;
    padding:0 11px;
}

.rowBar li a{
    text-decoration: none;
    color:#8d8d8d;
}

.uxArea{
    width:88%;
}

.rowBarContainer{
    position:relative;
    width:100%;
    right:80px;
}

.uxContent{
    position:relative;
    display:block;
    text-align:center;
    padding-top:100px;
}

.uxContent .inputDiv{
    width:410px;
    margin:0px 33%;
}

.uxContent .inputDiv .inputForm input{
    height:30px;
    margin-bottom:10px;
    padding-left:10px;
}

.uxContent .inputDiv .inputForm input::placeholder{
    color:#8d8d8d;
}

.uxContent .inputDiv .inputForm button{
    height:30px;
    background-color:#8d8d8d;
    color:white;
    border:none;
    margin-top:30px;
    cursor:pointer;
}

.uxContent .inputDiv .inputForm a{
    color:#676767;
    text-decoration: none;
    margin-top:20px;
}

.uxContent .storeGrid{
    margin-left:50px;
    width:90%;
    border-collapse:separate;
    border-spacing: 0px 10px;
}

.uxContent .storeGrid a{
    text-decoration: none;
    color:black;
}

.uxContent .storeGrid tr td{
    padding:0;
}

.uxContent table tr td img{
    width:70%;
    height:70%;
}

.contentContainer{
    position:relative;
    width:100%;
    height:850px;
    max-height:1500px;
    left:10%;
    display:block;
    top:100px;
}

.CartDiv table tbody tr{
    border-bottom:0.5px solid lightgray;
}

.QnADiv table tbody tr{
    border-bottom:0.5px solid lightgray;
}

.ReviewDiv table tbody tr{
    border-bottom:0.5px solid lightgray;
}

.NoticeDiv table tbody tr{
    border-bottom:0.5px solid lightgray;
}


.myPageButtonDiv button{
    background-color:#fff;
    border:0.5px solid gainsboro;
    padding:10px 15px 10px 15px;
    font:1em Arial,Dotum,AppleGothic,sans-serif;
    color:#838383;
    cursor:pointer;
}

.myPageButtonDiv .active{
    background-color:#8d8d8d;
    border:0.5px solid gainsboro;
    padding:10px 15px 10px 15px;
    font:1em Arial,Dotum,AppleGothic,sans-serif;
    color:#fff;
    cursor:pointer;
}

.myPageContent{
    margin-top: 50px;
}

.myPageContent .selectTable tbody tr{
    border-bottom:0.5px solid lightgray;
}

.myPageContent .selectTable tbody tr td:nth-child(1){
    width:10%;
}

.myPageContent .selectTable tbody tr td:nth-child(2){
    width:10%;
}

.myPageContent .selectTable tbody tr td:nth-child(3){
    width:50%;
}

.myPageContent .accumTable tbody tr{
    border-bottom:0.5px solid lightgray;
}

.myPageContent .accumTable tbody tr td:nth-child(1){
    width:10%;
}

.myPageContent .accumTable tbody tr td:nth-child(3){
    font-weight: bold;
    color:red;
}

.myPageContent .couponTable tbody tr{
    border-bottom:0.5px solid lightgray;
}

.myPageContent .couponTable tbody tr td:nth-child(1){
    width:10%;
}

.myPageContent .couponTable tbody tr td:nth-child(2){
    width:50%;
}

.myPageContent .writtenTable tbody tr{
    border-bottom:0.5px solid lightgray;
}

.myPageContent .writtenTable tbody tr td:nth-child(1){
    width:10%;
}

.myPageContent .writtenTable tbody tr td:nth-child(2){
    width:10%;
}

.myPageContent .writtenTable tbody tr td:nth-child(3){
    width:60%;
}

.joinBtn{
    background-color:black !important;
}

.joinBtn.notEnough{
    background-color:#8d8d8d !important;
}

@media screen and (max-width:1499px) {
    .productInfo{
        width:850px;
        float:right;
    }
    .productBody{
        width:1200px;
        height:600px;
    }
    .productBody.active{
        width:1200px;
        height:1200px;
    }
    .productFooter{
        width:722px;
    }
}

@media screen and (min-width:1500px) {
    .productInfo{
        width:1200px;
        float:right;
    }
    .productBody{
        width:1550px;
        height:600px;
    }
    .productBody.active{
        width:1200px;
        height:1200px;
    }
    .productFooter{
        width:932px;
    }
}


.productSize{
    width:100%;
    height:15%;
}

.productSize table{
    width:60%;
    margin-top:10px;
    text-align: center;
    border: 1px solid lightgrey;
    border-collapse:collapse;
}

.productSize table td{
    border:1px solid #eee;
}

.productSize table thead{
    background: #c9c9c9;
    line-height:25px;
}

.productSize table tbody{
    line-height: 25px;
}

.productSize table tbody .sizeRow{
    background:#c9c9c9;
    width:5%;
}

.footer{
    background-color: black;
    position:fixed;
    width:100%;
    top:93%;
    height:65px;
}

.footer .active{
    background-color: black;
    position:fixed;
    width:100%;
    top:70%;
    height:500px;
}